# Credenciales de Base de Datos

DB_URL=jdbc:mariadb://localhost:3306/bs_db_api
DB_NAME=bs_db_api
DB_ROOT_PASS=rootProfes
DB_USERNAME=UserTestProfes
DB_USER_PASS=PassTestProfes

# Seguridad JWT

# JWT_SECRET=UNA_CLAVE_MUCHO_MAS_LARGA_Y_COMPLEJA_PARA_PRODUCCION
# JWT_EXPIRATION=86400000